<app-navbar></app-navbar>

<div class="main">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card table-card">
          <div class="card-header">
            Pie Chart
          </div>
          <div class="card-body">
            <app-piechart [piechartData]="piechartList"></app-piechart>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card table-card">
          <div class="card-header">
            Bar Chart
          </div>
          <div class="card-body">
            <app-barchart [barchartData]="barchartList"></app-barchart>
          </div>
        </div>
      </div>
    </div>

    <div class="row table-card">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>User List</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of data?.tableUsers; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
