body{
  color: #eeeeee;
}
span{
  font-size:15px;
}
a{
text-decoration:none;
border-bottom:2px solid #0062cc;
}
.main{
  margin: 0;
  padding:60px 0px;
  background-color:white;
}

.table-card{
  margin-top: 10px;
  margin-bottom: 10px;
}
