<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Dashboard</a>
  <div class="form-inline">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" (click)="onLogout()">Logout</button>
  </div>
</nav>
