<div class="main">
  <div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <h3 class="text-center text-info">Sign in to your dashboard</h3>
                        <div class="form-group form">
                            <label for="username" class="text-info">Username</label><br>
                            <input type="text" class="form-control" formControlName="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password</label><br>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                        <div class="row">
                          <div class="col">
                            <button type="submit" class="btn btn-info full-st" style="width:100%" [disabled]="!loginForm.valid">SIGN IN</button>
                          </div>
                        </div>
                        <div class="row pt-2" *ngIf="errorLogin">
                          <div class="col">
                            <div class="alert alert-danger full-st" style="width:100%" role="alert">
                              Incorrect username/password.
                            </div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
